.DS_Store
.vercel
node_modules/
.env
.next/
dist/
build/
data/*.sqlite
data/*.sqlite-shm
data/*.sqlite-wal
.qa/*.png
.qa/*report.json
public/admin/schema.js
public/admin/schema.js.map
tsconfig.tsbuildinfo
